{% extends "layout.html.twig" %}

{% block content %}
<div class="page-header">
  <h1>Poser une question <small>TEA y répondra</small></h1>
</div>
<div class="row">
  <div class="span6 offset3">
    <form method="post" action="{{ url('question.new') }}" class="form-horizontal" {{ form_enctype(form) }}>
      <fieldset>
        <div class="control-group {% if form.author.vars.errors|length %}error{% endif %}">
          {{ form_label(form.author, null, { 'attr': { 'class': 'control-label'} }) }}
          <div class="controls">
            {{ form_widget(form.author) }}
            {{ form_errors(form.author) }}
          </div>
        </div>
        <div class="control-group {% if form.title.vars.errors|length %}error{% endif %}">
          {{ form_label(form.title, null, { 'attr': {'class': 'control-label'} }) }}
          <div class="controls">
            {{ form_widget(form.title) }}
            {{ form_errors(form.title) }}
          </div>
        </div>
        <div class="control-group {% if form.body.vars.errors|length %}error{% endif %}">
          {{ form_label(form.body, null, { 'attr': {'class': 'control-label'} }) }}
          <div class="controls">
            {{ form_widget(form.body) }}
            {{ form_errors(form.body) }}
          </div>
        </div>
        {{ form_rest(form) }}
        <div class="form-actions">
          <button class="btn btn-primary" type="submit">Déposer</button>
          <button class="btn" type="reset">Annuler</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
