{% extends 'layout.html.twig' %}

{% block title %}
	<h1>{{ question.title }}</h1>
{% endblock %}

{% block content %}
	<div>
		<blockquote>{{ question.author }}</blockquote>
		<p>{{ question.body }}</p>
		<p>Nombre de votes : {{ question.nb_vote }}</p>
	</div>
	<div>
		{% for comment in comments %}
			<div class="hero-unit">
				<p>{{ comment.body }}</p>
				<blockquote>{{ comment.author }}</blockquote>
			</div>
		{% endfor %}
	</div>
{% endblock %}
