{% extends 'layout.html.twig' %}

{% block content %}
<div class="row">
  <div class="span12">
    <h1>{{ question.title }} <small>{{ question.nb_vote }} {% if question.nb_vote <= 1 %}vote{% else %}votes{% endif %} <a class="btn" href="{{ path('vote.new', {question_id: question.id}) }}"><i class="icon-heart"></i> Voter</a></small></h1>
    <blockquote>
      <p>{{ question.body }}</p>
      <small>par <cite title="">{{ question.author }}</cite>, le {{ question.creation_date|date("d/m/Y") }}</small>
    </blockquote>
  </div>
</div>
{% for comment in comments %}
<div class="row">
  <div class="span12">
    <blockquote class="well">
      <p>{{ comment.body }}</p>
      <small>par <cite title="">{{ comment.author }}</cite>, le {{ comment.creation_date|date("d/m/Y") }}</small>
    </blockquote>
  </div>
</div>
{% endfor %}
{% if app.session.has('admin') %}
<div class="row">
  <div class="span6 offset3">
  {% include 'comment/form.html.twig' with {'form': form, 'question_id': question.id} only %}
  </div>
</div>
{% endif %}
{% endblock %}
