{% extends "layout.html.twig" %}

{% block content %}
<div class="page-header">
  <h1>Administration</h1>
</div>

<ul class="nav nav-tabs" id="tab">
  <li class="active"><a data-toggle="tab" href="#all">Toutes <span class="badge badge-info">{{ questions|length }}</span></a></li>
  <li><a data-toggle="tab" href="#without-answer">Les non répondues <span class="badge badge-info">{{ questionsNotAnswered|length }}</span></a></li>
  <li class=""><a data-toggle="tab" href="#with-answer">Les répondues <span class="badge badge-info">{{ questionsAnswered|length }}</span></a></li>
</ul>

<div class="tab-content" id="myTabContent">
  <div id="all" class="tab-pane fade active in">
    {% include 'question/list.html.twig' with {'questions': questions} %}
  </div>
  <div id="without-answer" class="tab-pane fade">
    {% include 'question/list.html.twig' with {'questions': questionsNotAnswered} %}
  </div>
  <div id="with-answer" class="tab-pane fade">
    {% include 'question/list.html.twig' with {'questions': questionsAnswered} %}
  </div>
</div>
{% endblock %}

{% block bottomjs %}
<script src="{{ app.request.basepath }}/js/jquery.min.js"></script>
<script src="{{ app.request.basepath }}/js/bootstrap-tab.js"></script>
<script src="{{ app.request.basepath }}/js/bootstrap-dropdown.js"></script>
{% endblock %}